:root {
  --btn-height: 3rem;
  --btn-width: 6rem;
  --btn-font-size: 1rem;
}
@media (max-width: 600px) {
  :root {
    --btn-height: 1rem;
    --btn-width: 2rem;
    --btn-font-size: 0.6rem;
  }
}
html {
  height: 100%;
}
.whole-button {
  min-width: var(--btn-width);
  height: var(--btn-height);
  font-size: var(--btn-font-size);
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  padding: 2%;
}
#translateBtn:hover,
.letter-box:hover,
.whole-button:hover {
  filter: brightness(75%);
  transition: all 0.3s ease;
}
.hd-container {
  width: 100%;
}
.one-tool {
  display: none;
}
.inner-tool {
  width: 94%;
}
#a-second {
  padding: 2%;
  gap: 6%;
}
.first-letter {
  color: var(--highlight);
  font-size: 2rem;
}
.row {
  display: flex;
  justify-content: center;
}
.letter-box {
  justify-content: center;
  align-items: center;
  gap: 6%;
  padding: 2%;
  font-weight: bold;
}
#tool-button-set {
  padding: 3% 0;
  display: flex;
  justify-content: center;
  gap: 4%;
  flex-wrap: wrap;
}
#current-tool-display {
  min-height: 60vh;
  /* padding: 3% 0; */
}
#in-and-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#word-input {
  flex: 2;
  font-size: 1.2rem;
  padding: 1%;
  max-width: 60%;
  /* margin-right: 20%; */
}
#translateBtn {
  flex: 1;
  padding: 4px 10px;
  max-width: 25%;
}
